@page
@model DecoraTeb.Areas.Admin.Pages.CategoryBlog.IndexModel
@{
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">دسته بندی وبلاگ  </h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>شماره</th>
                        <th>عنوان</th>
                        <th>اسلاگ</th>
                        <th>عکلیات</th>

                    </tr>


                    @foreach (var item in Model.Categories)
                    {
                        <tr>

                            <td>@item.Id</td>

                            <td>@item.Title</td>

                            <td>@item.Slug</td>

                            <td>

                                <button class="btn btn-warning btn-sm edit-btn"
                                        data-id="@item.Id"
                                        data-title="@item.Title"
                                        data-slug="@item.Slug">

                                    ویرایش

                                </button>

                                <button class="btn btn-danger btn-sm delete-btn"
                                        data-id="@item.Id">

                                    حذف

                                </button>

                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<div class="modal fade" id="categoryModal">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            فرم

        </div>

    </div>

</div>
<partial name="_CreateOrEditModal" model="Model.Category" />

@section Scripts{

    <partial name="_Scripts"/>

}